<div class="register-container">
  <h2>Registro</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="p-field">
      <label for="usuario1">Usuario</label>
      <br />
      <input
        id="usuario1"
        type="text"
        pInputText
        formControlName="usuario1"
        style="width: 100%"
      />
    </div>
    <div class="p-field">
      <label for="pass">Contraseña</label>
      <br />
      <input
        id="pass"
        type="password"
        pInputText
        formControlName="pass"
        style="width: 100%"
      />
    </div>
    <div class="p-field">
      <label for="confirmPassword">Confirmar Contraseña</label>
      <br />
      <input
        id="confirmPassword"
        type="password"
        pInputText
        formControlName="confirmPassword"
        style="width: 100%"
      />
      <p-message *ngIf="registerForm.controls['confirmPassword'].errors?.['mustMatch']" class="h-auto" severity="warn"
      text="Las contraseñas no coinciden"></p-message>
    </div>
    <button
      type="submit"
      pButton
      label="Registrar"
      [disabled]="registerForm.invalid"
    ></button>
  </form>

</div>
